<!-- 현재 머스테치 파일 기준으로 다른 파일을 가져오는 코드 -->
<!--
    머스테치는 다른 언어와 같은 userName != null 처럼 if 문을 제공하지 않는다.
    따라서 항상 최종 값을 넘겨줘야 한다.(true or false 여부만 판단)
-->
{{>layout/header}}
<h1>스프링 부트로 시작하는 웹 서비스</h1>
<div class="clo-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as : <span id="user">{{userName}}</span>
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL, 따로 컨트롤러 만들 필요 없음 -->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}} <!-- 머스테치에서 해당값이 존재하지 않는경우 ^ 사용 -->
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL, 따로 컨트롤러 만들 필요 없음 -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thread class="thread-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
        </thread>
        <tbody id="tbody">
        <!-- JSTL 의 forEach 와 동일 -->
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
             {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}